<div class="search">
    <form>
      <mat-form-field *ngIf="filteredOptions">
        <input type="text" placeholder="Select City" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name" (onSelectionChange)="citySelected($event, option)">
            {{option.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </div>     
  <div class="container" >
    <div class="upper-data">
        <img src="../assets/hot_morning.jpeg" *ngIf="+minTemp > 15">
        <img src="../assets/cold_night.jpeg" *ngIf="+minTemp <= 15">
        <div class="weather-data">
          <div class ="location"></div>
          <div class ="temperature">{{minTemp}} °C</div>
        </div>
    </div>
    <div class="lower-data">
      <div class="more-info-label">
        More Information
      </div>
      <div class="more-info-container">
        <div class="info-block">
          <div class = "info-block-label">
              <img src="../assets/low-temperature.png">
              <span>Snow Fall</span>
          </div>
          <div class="info-block-value">
            {{snowFall}} mm
          </div>
        </div>
        <div class="info-block">
          <div class = "info-block-label">
              <img src="../assets/max-temerature.png">
              <span>Feels Like</span>
          </div>
          <div class="info-block-value">
            {{feelsLikeTemp}} °C
          </div>
        </div>
        <div class="info-block">
          <div class = "info-block-label">
              <img src="../assets/humidity.png">
              <span>Humidity</span>
          </div>
          <div class="info-block-value">
            {{humidity}} %
          </div>
        </div>
        <div class="info-block">
          <div class = "info-block-label">
              <img src="../assets/wind.png">
              <span>Wind</span>
          </div>
          <div class="info-block-value">
            {{windSpeed}}  km/h
          </div>
        </div>
      </div>
    </div>
  </div>